# syntax: glob
*~
*.orig
*.o
*.d
*.f
*.C
*.s
*.a
*F_F.H
*.cpre
*.hdf5
*.cgns
*.visit
visitlog.py
*.mpeg
*.log
*.ex
*.cubin
*.out
*.dummy
*.svn
*.core
CVS
.cvsignore
*.depend
*.output
*.hh
*.dot

# Docs
*.aux
*.bbl
*.blg
*.dvi
*.ps
*.eps
*.pdf
*.log
*.bak
*.sav
*.synctex
*.ti

mk/Make.defs
config.status
config.log


# Exclude autoconf
# syntax: regexp
autom4te.cache
lib/src/BaseTools/CHTconfig.H

# Ignore o p d f directories
# syntax: regexp
*/o/
*/p/
*/d/
*/f/

# Exclude generate parser and scanner
# syntax: regexp
*_parser*.cpp
*_parser*.H
*_scanner.*.cpp
*_scanner.*.H
*/stack.H
